<!-- <!-- Top place to visit --> -->
<!-- 	<section class="visit section-wrapper"> -->
<!-- 		<div class="container"> -->
<!-- 			<h2 class="section-title"> -->
<!-- 				Top place to visit -->
<!-- 			</h2> -->
<!-- 			<p class="section-subtitle"> -->
<!-- 				Lorem Ipsum is simply dummy text of the industry. -->
<!-- 			</p> -->

<!-- 			<div class="owl-carousel visit-carousel" id=""> -->
<!-- 				<div class="item"> -->
<!-- 					<img src="assets/images/visit-1.png" alt="visit-image" class="img-responsive visit-item"> -->
<!-- 				</div> -->
<!-- 				<div class="item"> -->
<!-- 					<img src="assets/images/visit-2.png" alt="visit-image" class="img-responsive visit-item"> -->
<!-- 				</div> -->
<!-- 				<div class="item"> -->
<!-- 					<img src="assets/images/visit-3.png" alt="visit-image" class="img-responsive visit-item"> -->
<!-- 				</div> -->
<!-- 				<div class="item"> -->
<!-- 					<img src="assets/images/visit-1.png" alt="visit-image" class="img-responsive visit-item"> -->
<!-- 				</div> -->
<!-- 				<div class="item"> -->
<!-- 					<img src="assets/images/visit-2.png" alt="visit-image" class="img-responsive visit-item"> -->
<!-- 				</div> -->
<!-- 				<div class="item"> -->
<!-- 					<img src="assets/images/visit-3.png" alt="visit-image" class="img-responsive visit-item"> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> /.container -->
<!-- 	</section> /.visit -->



<!-- Who we are -->
	<section class="wwa section-wrapper">
		<div class="container">
			<h2 class="section-title">
				Top ofertas.
			</h2>
			<p class="section-subtitle">
				Para viajeros empedernidos.
			</p>
			<div class="row">
				<div class="col-sm-3 col-xs-6">
					<div class="who">
						<img src="assets/images/Diapositiva2.JPG" alt="" class="img-responsive who-img">
						<br>
					</div>
				</div> <!-- /.col-sm-3 -->
				<div class="col-sm-3 col-xs-6">
					<div class="who">
						<img src="assets/images/Diapositiva4.JPG" alt="" class="img-responsive who-img">
						<br>
					</div>
				</div> <!-- /.col-sm-3 -->
				<div class="col-sm-3 col-xs-6">
					<div class="who">
						<img src="assets/images/Diapositiva3.JPG" alt="" class="img-responsive who-img">
						<br>
					</div>
				</div> <!-- /.col-sm-3 -->
				<div class="col-sm-3 col-xs-6">
					<div class="who">
						<img src="assets/images/Diapositiva5.JPG" alt="" class="img-responsive who-img">
						<br>
					</div>
				</div> <!-- /.col-sm-3 -->

			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.wwa -->
