<!-- <!-- Our Blazzing offers --> -->
<!-- 	<section class="offer section-wrapper"> -->
<!-- 		<div class="container"> -->
<!-- 			<h2 class="section-title"> -->
<!-- 				Our Blazzing offers -->
<!-- 			</h2> -->
<!-- 			<p class="section-subtitle"> -->
<!-- 				Lorem Ipsum is simply dummy text of the industry. -->
<!-- 			</p> -->
<!-- 			<div class="row"> -->
<!-- 				<div class="col-sm-3 col-xs-6"> -->
<!-- 					<div class="offer-item"> -->
<!-- 						<div class="icon"> -->
<!-- 							<i class="ion-social-euro"></i> -->
<!-- 						</div> -->
<!-- 						<h3> -->
<!-- 							Affordable Pricing -->
<!-- 						</h3> -->
<!-- 						<p> -->
<!-- 							Class aptent taciti sociosutn tora torquent conub nost reptos himenaeos. -->
<!-- 						</p> -->
<!-- 					</div> -->
<!-- 				</div> /.col-md-3 -->

<!-- 				<div class="col-sm-3 col-xs-6"> -->
<!-- 					<div class="offer-item"> -->
<!-- 						<div class="icon"> -->
<!-- 							<i class="ion-ios-home"></i> -->
<!-- 						</div> -->
<!-- 						<h3> -->
<!-- 							High class Hotels -->
<!-- 						</h3> -->
<!-- 						<p> -->
<!-- 							Class aptent taciti sociosutn tora torquent conub nost reptos himenaeos. -->
<!-- 						</p> -->
<!-- 					</div> -->
<!-- 				</div> /.col-md-3 -->

<!-- 				<div class="col-sm-3 col-xs-6"> -->
<!-- 					<div class="offer-item"> -->
<!-- 						<div class="icon"> -->
<!-- 							<i class="ion-android-bus"></i> -->
<!-- 						</div> -->
<!-- 						<h3> -->
<!-- 							Luxury Transport -->
<!-- 						</h3> -->
<!-- 						<p> -->
<!-- 							Class aptent taciti sociosutn tora torquent conub nost reptos himenaeos. -->
<!-- 						</p> -->
<!-- 					</div> -->
<!-- 				</div> /.col-md-3 -->

<!-- 				<div class="col-sm-3 col-xs-6"> -->
<!-- 					<div class="offer-item"> -->
<!-- 						<div class="icon"> -->
<!-- 							<i class="ion-ios-locked"></i> -->
<!-- 						</div> -->
<!-- 						<h3> -->
<!-- 							Highest Security -->
<!-- 						</h3> -->
<!-- 						<p> -->
<!-- 							Class aptent taciti sociosutn tora torquent conub nost reptos himenaeos. -->
<!-- 						</p> -->
<!-- 					</div> -->
<!-- 				</div> /.col-md-3 -->
<!-- 			</div> /.row -->
<!-- 		</div> /.container -->
<!-- 	</section> /.offer -->

	<section class="offer section-wrapper animated fadeIn">
		<div class="container">
			<h2 class="section-title">
				¿Por qué Flymate?
			</h2>
			<p class="section-subtitle">
				Te damos cuatro buenas razones.
			</p>
			<div class="row">
				<div class="col-sm-3 col-xs-6">
					<div class="offer-item">
						<div class="icon">
							<i class="ion-social-euro"></i>
						</div>
						<h3>
							Packs (Vuelos + Hotel) a precio fijo de 150, 200 y 250€.

						</h3>
						<p>
							Sin cargos ocultos, sin sorpresas. Así de sencillo.

						</p>

					</div>
				</div>

				<div class="col-sm-3 col-xs-6">
					<div class="offer-item">
						<div class="icon">
							<i class="ion-clock"></i>
						</div>
						<h3>
							Porque el tiempo es oro...

						</h3>
						<p>
							Olvídate de buscar vuelos y comparar cientos de hoteles. Los elegimos por ti.
						</p>

					</div>
				</div>

				<div class="col-sm-3 col-xs-6">
					<div class="offer-item">
						<div class="icon">
							<i class="ion-location"></i>
						</div>
						<h3>
							Solo elige tu destino.

						</h3>
						<p>
							En una sola búsqueda descubre los mejores packs para varias ciudades europeas.
						</p>
					</div>
				</div>

				<div class="col-sm-3 col-xs-6">
					<div class="offer-item">
						<div class="icon">
							<i class="ion-speedometer" ></i>
						</div>
						<h3>
							Nuestra tecnología

						</h3>
						<p color="#fff">
							Big data aplicado, para encontrar tu pack ideal en menos de 30 segundos
						</p>

					</div>
				</div>
			</div>
		</div>
	</section>
