<style>
li {
  color: #969595; /* bullet color */
}
li span {
  color: black; /* text color */
}


</style>

<!-- Header -->
<header id="header" class="slider-item animated fadeIn"
	style="background-image: url('assets/images/fondoAbout.jpg')">
	<div class="inner-intro">
		<h2 class="section-title">¿COMO FUNCIONA?</h2>
	</div>
</header>

<!-- Story and Client -->
<section class="story-and-client section-wrapper animated fadeIn ">
	<div class="container " >
		<div class="row">
			<div class="col-sm-6">
				<div class="story">
					<h2 class="section-title">Bienvenido a la revolución del motor
						de búsqueda desarrollado por Flymate.</h2>
					<br> <br> <br>

					<p text-align="left" font-size=15px>
						<b>Primer paso: </b>
					</p>
					<p class="story-detail">Indícanos aeropuerto de origen y fecha.

					</p>
					<br>
					<p text-align="left" font-size=15px>
						<b>Segundo paso:</b>
					</p> 
					<p class="story-detail">Con los datos introducidos, nuestro
						sistema rastrea los mejores packs de vuelo y hotel, para todas las
						ciudades que tengan vuelo directo desde tu aeropuerto de origen,
						clasificando los destinos en 150€, 200€ y 250€ por persona.</p>
					<br>
					<p text-align="left" font-size=15px>
						<b>Tercer paso:</b>
					</p>
					<p class="story-detail">Cuando te decidas por el destino, con
						un simple click y rellenando unos datos básicos, finalizarías el
						proceso de compra.</p>

				</div>
				<!-- /.story -->
			</div>
			<!-- /.col-sm-6 -->

			<div class="col-sm-6">
				<div class="story">
					<h2 class="section-title">

						<img src="assets/images/Funcionamiento2.jpg"
							class="img-responsive who-img" >
					</h2>



				</div>
				<!-- /.story -->
			</div>
			<!-- /.col-sm-6 -->
		</div>
		<!-- /.row -->
		<br> <br>
		<div class="row">

			<div class="story">
				<h2 class="section-title">Preguntas frecuentes.</h2>
				<br> <br> <br>

				<p text-align="left" font-size=15px>
					<b>¿Por qué en los packs solo aparece el destino y el horario
						del vuelo?</b>
				</p>
				<p class="story-detail">En los packs de Flymate tu única
					preocupación será la elección del destino a un precio fijo de 150€,
					200€ o 250€. Una vez te hayas decidido
        </p>
        <p> y compres el pack sabrás en
					qué hotel te alojarás. ¡No queremos que nada condicione tu decisión
					final!</p>
				<br>
				<p text-align="left" font-size=15px>
					<b>¿En qué hotel me alojaré? </b>
				</p>

				<p class="story-detail">Todos los hoteles incluidos en los packs
					(Independientemente del precio 150€, 200€ o 250€) cumplen con unos
					estrictos requisitos:</p>
				<ul style="list-style-type:disc" >

					<li > Habitación privada con baño privado.</li>
					<li >Ubicación a menos de 3km del centro urbano.</li>
					<li >Más de 3,5 estrellas en Tripadvisor.</li>
					<li >Transporte público (Metro, bus) a menos de 1km
						del hotel.</li>
				</ul>

				<br>
				<p text-align="left" font-size=15px>
					<b>¿En qué Compañía aérea volaré? </b>
				</p>
				<p class="story-detail">Los vuelos incluidos en los packs son
					compañías low-cost (Vueling, Ryanair, Norwegian…).</p>

			</div>
			<!-- /.story -->


		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /.story-and-client -->
